<footer class="blog-footer">
    <p> Build by Steven Gangano </p>

    <ul class="social-links">
      <li><a href="#"> <%= fa_icon "twitter" %> </a></li>
      <li><a href="#"> <%= fa_icon "facebook" %> </a></li>
      <li><a href="#"> <%= fa_icon "instagram" %> </a></li>
    </ul>
</footer>
